.mainBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;
}

.box {
  padding: 10px;
  border: 1px solid black;
}

.checkBoxRow {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.checkbox {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.checkboxText {
  cursor: pointer;
}

.destinationInputRow {
  display: flex;
  justify-content: space-between;
}

.textInput {
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: var(--input-color);
  flex: 1;
}
.iconSwap {
  color: var(--input-color);
  cursor: pointer;
  font-size: 50px !important;
}

input:focus {
  outline: none;
}

.globalInputBox {
  width: 50em;
}

.datePickerBox {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
}

.dateInput {
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: var(--input-color);
  margin-left: 5px;
  margin-right: 10px;
  width: 8.5em;
  z-index: 1;
}

.searchButton {
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: var(--input-color);
}

.confirmButton {
  flex: 2;
  margin-left: 10px;
  background-color: var(--main-color);
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
}
.confirmButton:hover {
  background-color: var(--main-color-2);
}

.icon {
  color: var(--input-color);
  cursor: pointer;
  font-size: 30px !important;
}

.personInput {
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: var(--input-color);
  width: 7em;
}
