.mainBox {
  display: flex;
  width: 100%;
  background-color: var(--background-color);
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

.innerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.contentBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Lato";
}

p {
  margin: 5px 0;
}

.welcomeText {
  font-weight: bold;
  font-family: "Lato";
  font-size: 30px;
  padding: 10px;
  letter-spacing: 2px;
}

.basicIcon {
  padding-right: 10px;
}
