.mainBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    background-color: rgb(129, 189, 218);
    gap:10px;
}

.box{
    padding: 10px;
    border: 1px solid black;
}

.checkBoxRow{
    display: flex;
    border:1px solid black;
}