.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  padding-top: 5vh;
}

.formContainer {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputLabelActive {
  color: #333;
}

.inputLabelActive,
.inputLabelActive + .MuiInputBase-root .MuiInput-input {
  transition: all 0.3s ease-out;
}

.inputLabelActive {
  transform-origin: top left;
  pointer-events: none;
  z-index: 1;
  background-color: #fff;
  padding: 0 5px;
  margin-bottom: 5px;
}

.iconSwap {
  color: #666;
  cursor: pointer;
}
.timePicker {
  margin-top: 8px; /* dostosuj marginesy według potrzeb */
}
.icon {
  color: #666;
  cursor: pointer;
}

.confirmButton {
  width: 100%;
  max-width: 150px;
  margin-top: 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.error {
  color: red;
}
