.mainBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;
}

.textInput {
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-family: "Lato";
  font-size: 20px;
  background-color: var(--background-color);
  border: 1px solid gray;
  flex: 1;
}

.datePickerBox {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
}

.dateInput {
  border-radius: 5px;
  padding: 8px;
  font-size: 25px;
}

.confirmButton {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  font-family: "Lato";
  transition: background-color 0.2s ease;
}
.confirmButton:hover {
  background-color: white;
  border-color: var(--main-color);
}
.searchButton {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  font-family: "Lato";
  background-color: var(--main-color);
  transition: background-color 0.2s ease;
}
.searchButton:hover {
  background-color: var(--main-color-2);
  color: white;
}

.icon {
  color: var(--gray-text);
  cursor: pointer;
  font-size: 30px !important;
}

.mainGridLayout {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto;
  gap: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 35px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
