
.ordersList{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lato';
}

.order{
    list-style-type: none;
    width:80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2%;
    margin: 1%;


}

.orderData{
    margin-left: 5%;
    width:95%;
}

.mainList{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ticketList{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Lato';
    font-size: 18px;
    margin-left: 4%;
    gap: 20px

}

.ticket{
    background-color:rgba(var(--main-color-rgb),0.4);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.ticketC{
    width: 40%;
}

.info{
    width: 100%;
}

.img{
    width: 50%;
    border-radius: 10px;
    
}

.infoBar {
    display: flex;
    align-items: "center";
    gap: 10;
    font-size: 20px;
}

.cardContent{
    width: 23vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticketInfo{
    margin-left: 10%;
    margin-top: 1%;
    font-size: 17px;
    font-weight: 500;
}

.ticketData{
    margin-left: 10%;
}

.button{
    padding: 8px 16px;
    border: 1px solid var(--main-color-2);
    color: var(--main-color-2);
    cursor: pointer;
    text-decoration: none;
    bottom: 0px;
    border-radius: 20px;
    background-color: white;
    margin: 2px
}

.button:hover {
    background-color: var(--main-color-2);
    color: white;
    cursor:pointer;
}

.active{
    background-color: var(--main-color-2);
    color: white;
    border-color: var(--main-color-2);
}

li{
    list-style-type: none;
}
