.mainBox {
  display: flex;
  width: 100%;
  background-color: var(--background-color);
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
  color: var(--gray-text);
}

.innerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.contentBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding-left: 20px;
  font-family: "Lato";
  letter-spacing: 2px;
  min-width: 300px;
}
p {
  text-align: left;
  margin: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Lato";
  font-size: 1em;
}

.welcomeText {
  font-weight: bold;
  font-family: "Lato";
  font-size: 2em;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
.welcomeInfo {
  font-weight: bold;
  font-family: "Lato";
  font-size: 1.5em;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.basicIcon {
  font-size: 35px !important;
  padding-right: 10px;
}

@media screen and (max-width: 700px) {
  .welcomeText {
    font-size: 1.7em;
  }
  .welcomeInfo {
    font-size: 1.1em;
  }
  li {
    font-size: 0.8em;
  }
  .contentBox {
    min-width: 0px;
  }
}
